<section id="about" class="relative py-24 px-6 bg-black/30">
  <div class="max-w-[1400px] mx-auto grid lg:grid-cols-2 gap-16 items-center">
    <!-- Left Content -->
    <div>
      <!-- Section Label -->
      <p class="uppercase tracking-[6px] text-cyan-400 text-2xl mb-6">
        About Me
      </p>

      <!-- Title -->
      <h2 class="text-3xl md:text-5xl font-black text-white leading-tight mb-8">
        Building scalable and interactive frontend experiences.
      </h2>

      <!-- Description -->
      <p class="text-gray-300 text-lg leading-9 mb-6">
        I'm an Angular Developer with almost 3 years of experience building
        scalable enterprise web applications using Angular, TypeScript, RxJS,
        and modern frontend architecture.
      </p>
      <p class="text-gray-400 leading-8">
        I enjoy creating performant, responsive, and visually polished
        interfaces with clean architecture and smooth user experiences.
      </p>
    </div>

    <!-- Right Side -->
    <div class="grid sm:grid-cols-2 gap-4 sm:gap-6">
      <!-- Card 1 -->
      <div
        class="p-5 sm:p-8 rounded-3xl border border-white/10 bg-white/5 backdrop-blur-xl"
      >
        <h3 class="text-xl sm:text-3xl font-black text-cyan-300 mb-4">
          Almost 3
        </h3>

        <p class="text-gray-300">Years of frontend development experience.</p>
      </div>

      <!-- CARD 2 -->
      <div
        class="p-5 sm:p-8 rounded-3xl border border-white/10 bg-white/5 backdrop-blur-xl"
      >
        <h3 class="text-xl sm:text-3xl font-black text-cyan-300 mb-4">
          Angular
        </h3>

        <p class="text-gray-300">
          Specialized in scalable Angular applications.
        </p>
      </div>

      <!-- CARD 3 -->
      <div
        class="p-5 sm:p-8 rounded-3xl border border-white/10 bg-white/5 backdrop-blur-xl"
      >
        <h3 class="text-xl sm:text-3xl font-black text-cyan-300 mb-4">RxJS</h3>

        <p class="text-gray-300">Reactive programming and state management.</p>
      </div>

      <!-- CARD 4 -->
      <div
        class="p-5 sm:p-8 rounded-3xl border border-white/10 bg-white/5 backdrop-blur-xl"
      >
        <h3 class="text-xl sm:text-3xl font-black text-cyan-300 mb-4">UI</h3>

        <p class="text-gray-300">
          Responsive and modern interface development.
        </p>
      </div>
    </div>
  </div>
</section>
