<section id="about" class="bg-[#050816] pt-32 pb-24 px-4 sm:px-6">
  <div class="max-w-7xl mx-auto">
    <div
      class="max-w-7xl mx-auto px-6 xl:px-10 grid xl:grid-cols-2 gap-20 items-center"
    >
      <!-- IMAGE SECTION -->
      <div
        class="relative flex justify-center mb-2 xl:mb-0 xl:mt-[-300px] order-1 xl:order-2"
      >
        <div class="profile-wrapper relative">
          <div class="radar-container">
            <div class="radar-sweep"></div>
            <!-- Ring 1 -->
            <div
              class="ring ring-1 absolute inset-0 rounded-full border-2 border-cyan-400/20 scale-110"
            ></div>
            <!-- Ring 2 -->
            <div
              class="ring ring-2 radar absolute inset-0 rounded-full border border-fuchsia-500/20 scale-125"
            ></div>

            <!-- Profile Image -->
            <img
              src="/Project/profile.png"
              alt="Nihal Adhikari"
              class="relative z-10 w-80 h-80 lg:w-96 lg:h-96 rounded-full object-cover object-top border-4 border-cyan-400/20"
            />
          </div>

          <!-- Badge 1 -->
          <div class="tech-badge absolute top-4 -right-8 z-20">
            Angular & TypeScript
          </div>

          <!-- Badge 2 -->
          <div class="tech-badge absolute top-28 -left-10 z-20">RxJS</div>

          <!-- Badge 3 -->
          <!-- <div class="tech-badge absolute bottom-12 -right-10">REST APIs</div> -->

          <!-- Experience -->
          <div
            class="tech-badge absolute bottom-2 right-0 flex items-center gap-3 px-4 py-3 md:px-5 md:py-4 rounded-2xl bg-slate-900/90 backdrop-blur-xl border border-cyan-400/20 shadow-cyan-500/10 z-20"
          >
            <span
              class="text-xl md:text-xl font-extrabold text-cyan-300 leading-none"
              >3+
            </span>
            <div class="flex flex-col loading-tight">
              <span>Years of</span>
              <span>Experience</span>
            </div>
          </div>
        </div>
      </div>

      <!-- CONTENT -->
      <div class="order-2 xl:order-1 text-center xl:text-left">
        <!-- Available -->
        <div
          class="about-reveal inline-flex items-center gap-2 px-4 py-2 rounded-full border border-green-500/30 bg-green-500/10 text-green-400 text-sm mb-6"
        >
          <span class="w-2 h-2 rounded-full bg-green-400"></span>
          Available for opportunities
        </div>

        <!-- Heading -->
        <p class="about-reveal text-gray-400 text-lg mb-2">Hi, I am</p>

        <h2
          class="about-reveal text-4xl sm:text-5xl lg:text-6xl font-black text-white mb-4"
        >
          Nihal Adhikari
        </h2>

        <h3
          class="about-reveal text-xl sm:text-2xl text-cyan-300 font-semibold mb-6 min-h-[40px]"
        >
          {{ currentRole }}
          <span class="cursor">|</span>
        </h3>

        <!-- Description -->
        <p
          class="about-reveal text-gray-400 leading-8 max-w-2xl mx-auto xl:mx-0 mb-10"
        >
          Angular Developer with nearly 3 years of experience building scalable
          and responsive web applications using Angular, TypeScript, and
          JavaScript. Skilled in developing reusable UI components, integrating
          RESTful APIs, and implementing reactive programming with RxJS.
          Passionate about creating performant, user-centric applications and
          delivering seamless digital experiences.
        </p>

        <!-- Stats -->
        <div
          class="grid grid-cols-3 divide-x divide-white/10 max-w-xl mx-auto xl:mx-0 my-12"
        >
          <div class="text-center">
            <h4 class="text-2xl font-bold text-cyan-300">3+</h4>

            <p class="text-gray-500 text-sm uppercase tracking-wider">
              Years Exp.
            </p>
          </div>

          <div class="text-center">
            <h4 class="text-2xl font-bold text-cyan-300">5+</h4>

            <p class="text-gray-500 text-sm uppercase tracking-wider">
              Projects
            </p>
          </div>

          <div class="text-center">
            <h4 class="text-2xl font-bold text-cyan-300">8+</h4>

            <p class="text-gray-500 text-sm uppercase tracking-wider">
              Technologies
            </p>
          </div>
        </div>

        <!-- Buttons -->
        <div class="flex gap-4 mt-8 justify-center xl:justify-start">
          <!-- <button
            class="px-8 py-4 rounded-full bg-blue-400/90 text-black font-semibold hover:scale-105 transition"
          >
            Hire Me
          </button> -->
          <a
            mailto:nihaladhikari998@gmail.com
            class="px-8 py-4 rounded-full bg-gradient-to-br from-cyan-400 to-fuchsia-500 text-black font-semibold hover:scale-105 transition"
          >
            <i class="fas fa-envelope"></i>

            Hire Me
          </a>

          <a
            href="/public/Nihal_Adhikari_Angular_Developer_v2 (1) (1).pdf"
            download
            class="px-8 py-4 rounded-full border bg-white/5 border-white/10 hover:border-cyan-300 hover:scale-105 text-white text-center transition"
          >
            <i class="fas fa-download"></i>
            Download Resume
          </a>

          <a
            href="https://github.com/Nihalad998"
            target="_blank"
            class="px-8 py-4 rounded-full border border-white/10 text-white hover:scale-105 hover:border-cyan-300 transition"
          >
            GitHub
          </a>
        </div>

        <!-- Social Icons -->
        <div class="flex justify-center xl:justify-start gap-6 mt-8">
          <a
            href="https://github.com/Nihalad998"
            target="_blank"
            class="w-12 h-12 flex items-center justify-center rounded-xl border border-white/10 text-gray-300 hover:border-cyan-300 hover:text-cyan-300 hover:scale-110 transition-all duration-300"
          >
            <i class="fab fa-github text-2xl"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/nihal-adhikari-93511116a/"
            target="_blank"
            class="w-12 h-12 flex items-center justify-center rounded-xl border border-white/10 text-gray-300 hover:border-cyan-300 hover:text-cyan-300 hover:scale-110 transition-all duration-300"
          >
            <i class="fab fa-linkedin text-2xl"></i>
          </a>
          <a
            href="mailto:nihaladhikari998@gmail.com"
            class="w-12 h-12 flex items-center justify-center rounded-xl border border-white/10 text-gray-300 hover:border-cyan-300 hover:text-cyan-300 hover:scale-110 transition-all duration-300"
          >
            <i class="fas fa-envelope text-2xl"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section id="about" class="relative py-24 px-6 bg-black/30">
  <div class="max-w-[1400px] mx-auto grid lg:grid-cols-2 gap-16 items-center">
    <div>
      <p class="uppercase tracking-[6px] text-cyan-400 text-2xl mb-6">
        About Me
      </p>

      <h2 class="text-3xl md:text-5xl font-black text-white leading-tight mb-8">
        Building scalable and interactive frontend experiences.
      </h2>

      <p class="text-gray-300 text-lg leading-9 mb-6">
        Angular Developer with nearly 3 years of experience building scalable
        and responsive web applications using Angular, TypeScript, and
        JavaScript. Proficient in developing reusable UI components, integrating
        RESTful APIs, and implementing reactive programming with RxJS.
        Experienced in working with Angular Material, Bootstrap, Git, and
        backend technologies. Strong problem-solving abilities with a focus on
        performance optimization, clean code practices, and delivering
        user-centric web experiences.
      </p>
      <p class="text-gray-400 leading-8">
        I enjoy creating performant, responsive, and visually polished
        interfaces with clean architecture and smooth user experiences.
      </p>
    </div>

    <div class="grid sm:grid-cols-2 gap-4 sm:gap-6">
      <div
        class="p-5 sm:p-8 rounded-3xl border border-white/10 bg-white/5 backdrop-blur-xl"
      >
        <h3 class="text-xl sm:text-3xl font-black text-cyan-300 mb-4">
          Almost 3
        </h3>

        <p class="text-gray-300">Years of frontend development experience.</p>
      </div>

      <div
        class="p-5 sm:p-8 rounded-3xl border border-white/10 bg-white/5 backdrop-blur-xl"
      >
        <h3 class="text-xl sm:text-3xl font-black text-cyan-300 mb-4">
          Angular
        </h3>

        <p class="text-gray-300">
          Specialized in scalable Angular applications.
        </p>
      </div>

      <div
        class="p-5 sm:p-8 rounded-3xl border border-white/10 bg-white/5 backdrop-blur-xl"
      >
        <h3 class="text-xl sm:text-3xl font-black text-cyan-300 mb-4">RxJS</h3>

        <p class="text-gray-300">Reactive programming and state management.</p>
      </div>

      <div
        class="p-5 sm:p-8 rounded-3xl border border-white/10 bg-white/5 backdrop-blur-xl"
      >
        <h3 class="text-xl sm:text-3xl font-black text-cyan-300 mb-4">UI</h3>

        <p class="text-gray-300">
          Responsive and modern interface development.
        </p>
      </div>
    </div>
  </div>
</section>
-->
